<div class="card mb-3 review half">
        <div class="card-body">
        <h5 class="card-title"><%= review.author.username%></h5>
                <p class="starability-result" data-rating="<%=review.rating%>">
                    Rated: <%= review.rating %> stars
                </p>
        <p class="card-text">Review: <%= review.body %></p>
        <% if( currentUser && review.author.equals(currentUser._id)) {%>
        <form action="/businesses/<%=business._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
            <button class="btn btn-sm btn-danger">Delete</button>
        </form>
        <% } %>
    </div>
</div>