<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/register_business.css">
<div class="register">
	<h1 class="text-center">Edit Business</h1>
	<div class="col-6 offset-3">
		<form action="/businesses/<%=business._id%>?_method=PUT" method="POST">
				<label class="form-label" for="title">Title</label>
				<input class="form-control" type="text" id="title" name="business[title]" value="<%=business.title%>" required>
				<label class="form-label" for="location">Location</label>
				<input class="form-control" type="text" id="location" name="business[location]" value="<%=business.location%>" required>
				<label class="form-label" for="image">Image Url</label>
				<input class="form-control" type="text" id="image" name="business[image]" value="<%=business.image%>">
				<label class="form-label" for="description">Description</label>
				<textarea class="form-control" type="text" id="description" name="business[description]" required><%= business.description%></textarea>
	
				<button class="submit">Update Business</button>
				<a href="/businesses/<%= business._id %>"></a><button class="cancel">Back To Business</button></a>
		</form>
	</div>
</div>