<% layout('layouts/boilerplate')%>
<style>
    .leaflet-container{
        z-index:1;
    }
</style>
	<link rel="stylesheet" href="/stylesheets/results.css">
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
crossorigin=""/>
	<div id="results-page">
		<div class="results-header">Search Results</div>
		<div class="leaflet-container" id="map">
		</div>
			<%for (let business of businesses){%>
			<div class="card result">
						<%if (business.photoreference !== undefined) { %>
							<img alt="" src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=200&maxheight=200&photoreference=<%=business.photoreference%>&key=AIzaSyDmzfvm2aV1kezXVPpmPZRWp-qpoeUHkpg">
						<%} else {%>
							<img>
						<%}%>
						<div class="card-body">
							<a href="/businesses/<%=business._id%>"><h5 class="card-title"><%= business.title %> </h5></a>
							<p class="card-text"><%= business.description %></p>
							<p class="card-text">
								<small class="muted"><%= business.location%></small>
							</p>
							<p>
							</p>
						</div>
			</div>
			<% }%>
	</div>
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
crossorigin=""></script>
	<script>
		let businesses = [];
		<%for (let business of businesses){%>
			console.log("<%= business.title %>")
			businesses.push({
				id: "<%= business._id %>",
				title: "<%= business.title %>",
				lat: <%= business.geometry.location.lat %>,
				lng: <%= business.geometry.location.lng %>
			});
		<%}%>
		<%
		 	let viewport = businesses.reduce(
				(acc, val)=>{
					acc.lat += val.geometry.location.lat;
					acc.lng += val.geometry.location.lng;
					return acc;
				},
				{
					lat: 0,
					lng: 0
				});
			viewport.lat /= businesses.length;
			viewport.lng /= businesses.length;

		%>
	let viewport = [<%=viewport.lat %>,<%=viewport.lng %>];
	var map = L.map('map').setView(viewport, 13);

	L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
      }).addTo(map);

      L.control.scale().addTo(map);

	  // show a marker on the map
	  businesses.forEach(business => L.marker({lat: business.lat, lng: business.lng})
										.bindPopup(`<a href="/businesses/${business.id}">${business.title}</a>`)
										.addTo(map));

	</script>
		
