<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/stars.css">
<link rel="stylesheet" href="/stylesheets/business.css">
<% let cleanliness = 0;
let distancing = 0;
let masks = 0;
let avg = 0;
for(let review of business.reviews) {
	cleanliness += review.rating3 | 0;
	distancing += review.rating2 | 0;
	masks += review.rating1 | 0;
	avg += review.rating | 0;
} 
cleanliness = Math.floor(cleanliness / (business.reviews.length));
distancing =  Math.floor(distancing / (business.reviews.length));
masks =  Math.floor(masks / (business.reviews.length));
%>
<div id="VueModal">
	<div v-bind:class="containerState">
	<!-- This is the business name and description-->
		<h2 class="business-title"><%= business.title%></h2>
		<div class="business-ratings">
			<!-- <p class="starability-result" data-rating="<%= Math.round(avg) %>">
				<%= Math.round(avg) %>
			</p> -->
			<p class="starability-template bacteria" data-rating="<%= cleanliness %>">
				<%= cleanliness %>
			</p>
			<p class="starability-template mask" data-rating="<%= masks %>">
				<%= masks %>
			</p>
			<p class="starability-template spacing" data-rating="<%= distancing %>">
				<%= distancing %>
			</p>
		</div>
		<%if (business.photoReference !== undefined) { %>
			<img class="business-img" alt="" src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=200&maxheight=200&photoreference=<%=business.photoReference%>&key=AIzaSyDmzfvm2aV1kezXVPpmPZRWp-qpoeUHkpg">
		<%} else {%>
			<h5>No image for this site!</h5>
		<%}%>
		
		<div class="business-info">
				<h4>Description</h4>
				<%= business.description%>
				<h4>Location</h4>
				<%if (business.location) {%>
					<p class="muted"><%= business.location%></p>
				<% } else { %> 
					<p class="muted">No location for this business!</p>
				<%}%>
				<h4>Phone Number</h4>
					<p class="muted"><%=business.phoneNumber%></p>
				<%if (business.operationHours) {%>
				<h4>Operating Hours</h4>
						<p class="muted"><%= business.operationHours[0]%></p>
						<p class="muted"><%= business.operationHours[1]%></p>
						<p class="muted"><%= business.operationHours[2]%></p>
						<p class="muted"><%= business.operationHours[3]%></p>
						<p class="muted"><%= business.operationHours[4]%></p>
						<p class="muted"><%= business.operationHours[5]%></p>
						<p class="muted"><%= business.operationHours[6]%></p>
				<%}%>
						
				
		</div>
			<h3 class="full">Reviews</h3>
			<% if(currentUser){ %>
			<div class="business-actions">
						<!-- Button trigger modal -->
					<button type="button" class="create" v-on:click="toggleVisibility" data-toggle="modal" data-target="#exampleModal">
						Add Review
					</button>
					
					<% if( currentUser && business.author.equals(currentUser._id)) {%>
						<a class="" href="/businesses/<%=business._id%>/edit"><button class="submit">Edit</button></a>
						<form style="display:inline;" action="/businesses/<%=business._id%>?_method=DELETE" method="POST">
							<button class="delete">Delete</button>
						</form>
					<% } %>
			</div> 
			<% } %>
	<!-- These are the reviews for the business -->
		<% for(let review of business.reviews) { %>
			<%- include('../partials/review.ejs', {review, currentUser, business}) %>
		<% } %>
	</div>

	<!-- Modal -->
	<div class="modal" v-if="show">
		<div class="modal-header">
			<h5 class="modal-title" >Add a Review</h5>
			<button class="cancel" v-on:click="toggleVisibility">
				<i class="fas fa-times"></i>
			</button>
			</div>
			<div class="modal-content">
				<div class="modal-body">
					<form action="/businesses/<%=business._id%>/reviews" method="POST" class="mb-3">
						<!-- <div class="mb-3">
							<label class="form-label" for="rating">Rating</label>
							<input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating">
						</div> -->
						<div>
							<h5>Mask Compliance</h5>
						<fieldset class="starability-basic">
						  <input type="radio" id="no-rate" class="input-no-rate" name="review[rating1]" value="1" checked aria-label="No rating." />
						  <input type="radio" id="first-rate1" name="review[rating1]" value="1" />
						  <label for="first-rate1" title="Terrible">1 star</label>
						  <input type="radio" id="first-rate2" name="review[rating1]" value="2" />
						  <label for="first-rate2" title="Not good">2 stars</label>
						  <input type="radio" id="first-rate3" name="review[rating1]" value="3" />
						  <label for="first-rate3" title="Average">3 stars</label>
						  <input type="radio" id="first-rate4" name="review[rating1]" value="4" />
						  <label for="first-rate4" title="Very good">4 stars</label>
						  <input type="radio" id="first-rate5" name="review[rating1]" value="5" />
						  <label for="first-rate5" title="Amazing">5 stars</label>
						</fieldset>
						</div>
						<div>
							<h5>Social Distancing</h5>
	
							<fieldset class="starability-basic">
								<input type="radio" id="no-rate" class="input-no-rate" name="review[rating2]" value="1" checked aria-label="No rating." />
								<input type="radio" id="second-rate1" name="review[rating2]" value="1" />
								<label for="second-rate1" title="Terrible">1 star</label>
								<input type="radio" id="second-rate2" name="review[rating2]" value="2" />
								<label for="second-rate2" title="Not good">2 stars</label>
								<input type="radio" id="second-rate3" name="review[rating2]" value="3" />
								<label for="second-rate3" title="Average">3 stars</label>
								<input type="radio" id="second-rate4" name="review[rating2]" value="4" />
								<label for="second-rate4" title="Very good">4 stars</label>
								<input type="radio" id="second-rate5" name="review[rating2]" value="5" />
								<label for="second-rate5" title="Amazing">5 stars</label>
							</fieldset>
						</div>
						<div>
							<h5>Sanitization</h5>
	
							<fieldset class="starability-basic">
								<input type="radio" id="no-rate" class="input-no-rate" name="review[rating3]" value="1" checked aria-label="No rating." />
								<input type="radio" id="thrid-rate1" name="review[rating3]" value="1" />
								<label for="thrid-rate1" title="Terrible">1 star</label>
								<input type="radio" id="third-rate2" name="review[rating3]" value="2" />
								<label for="third-rate2" title="Not good">2 stars</label>
								<input type="radio" id="third-rate3" name="review[rating3]" value="3" />
								<label for="third-rate3" title="Average">3 stars</label>
								<input type="radio" id="third-rate4" name="review[rating3]" value="4" />
								<label for="third-rate4" title="Very good">4 stars</label>
								<input type="radio" id="third-rate5" name="review[rating3]" value="5" />
								<label for="third-rate5" title="Amazing">5 stars</label>
							</fieldset>
						</div>
						<label >Title</label>
						<input id="reviewTitle" name="review[title]" type="text">
						<div>
							<label class="form-label" for="body">Review Text</label>
							<textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
						</div>
						<button class="submit">Submit</button>
					</form>
				</div>
				<button class="cancel" v-on:click="toggleVisibility">Cancel</button>
			</div>
	</div>

</div>
<script>
		const Modal = {
		data() {
			return {
				show: false,
				containerState: "business-container"
			}
		},
		methods: {
			toggleVisibility() {
				this.show = !this.show;
				if (this.show) {
					this.containerState = "business-container blur";
				} else {
					this.containerState = "business-container";
				}
			}
		}
	}
	
	Vue.createApp(Modal).mount('#VueModal');
</script>
