<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/stars.css">
	<div class="row">
		<div class="col-6">
			<div class="card mb-3">
				  <img src="<%= business.image%>" class="card-img-top" alt="...">
				  <div class="card-body">
					<h5 class="card-title"><%= business.title%></h5>
					<p class="card-text"><%= business.description%></p>
				  </div>
				  <ul class="list-group list-group-flush">
					<li class="list-group-item text-muted"><%= business.location%></li>
				  </ul>
				  
				  <% if(currentUser){ %>
				  <div class="card-body">
					  <!-- Button trigger modal -->
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
						Add Review
					</button>
					
					<!-- Modal -->
					<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Add a Review</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<i class="fas fa-times"></i>
							</button>
							</div>
							<div class="modal-body">
								<form action="/businesses/<%=business._id%>/reviews" method="POST" class="mb-3">
									<!-- <div class="mb-3">
										<label class="form-label" for="rating">Rating</label>
										<input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating">
									</div> -->
									<div class="mb-3">
										<h5>Mask Compliance</h5>
									<fieldset class="starability-basic">
									  <input type="radio" id="no-rate" class="input-no-rate" name="review[rating1]" value="1" checked aria-label="No rating." />
									  <input type="radio" id="first-rate1" name="review[rating1]" value="1" />
									  <label for="first-rate1" title="Terrible">1 star</label>
									  <input type="radio" id="first-rate2" name="review[rating1]" value="2" />
									  <label for="first-rate2" title="Not good">2 stars</label>
									  <input type="radio" id="first-rate3" name="review[rating1]" value="3" />
									  <label for="first-rate3" title="Average">3 stars</label>
									  <input type="radio" id="first-rate4" name="review[rating1]" value="4" />
									  <label for="first-rate4" title="Very good">4 stars</label>
									  <input type="radio" id="first-rate5" name="review[rating1]" value="5" />
									  <label for="first-rate5" title="Amazing">5 stars</label>
									</fieldset>
									</div>
									<div class="mb-3">
										<h5>Social Distancing</h5>

										<fieldset class="starability-basic">
											<input type="radio" id="no-rate" class="input-no-rate" name="review[rating2]" value="1" checked aria-label="No rating." />
											<input type="radio" id="second-rate1" name="review[rating2]" value="1" />
											<label for="second-rate1" title="Terrible">1 star</label>
											<input type="radio" id="second-rate2" name="review[rating2]" value="2" />
											<label for="second-rate2" title="Not good">2 stars</label>
											<input type="radio" id="second-rate3" name="review[rating2]" value="3" />
											<label for="second-rate3" title="Average">3 stars</label>
											<input type="radio" id="second-rate4" name="review[rating2]" value="4" />
											<label for="second-rate4" title="Very good">4 stars</label>
											<input type="radio" id="second-rate5" name="review[rating2]" value="5" />
											<label for="second-rate5" title="Amazing">5 stars</label>
										</fieldset>
									</div>
									<div class="mb-3">
										<h5>Sanitization</h5>

										<fieldset class="starability-basic">
											<input type="radio" id="no-rate" class="input-no-rate" name="review[rating3]" value="1" checked aria-label="No rating." />
											<input type="radio" id="thrid-rate1" name="review[rating3]" value="1" />
											<label for="thrid-rate1" title="Terrible">1 star</label>
											<input type="radio" id="third-rate2" name="review[rating3]" value="2" />
											<label for="third-rate2" title="Not good">2 stars</label>
											<input type="radio" id="third-rate3" name="review[rating3]" value="3" />
											<label for="third-rate3" title="Average">3 stars</label>
											<input type="radio" id="third-rate4" name="review[rating3]" value="4" />
											<label for="third-rate4" title="Very good">4 stars</label>
											<input type="radio" id="third-rate5" name="review[rating3]" value="5" />
											<label for="third-rate5" title="Amazing">5 stars</label>
										</fieldset>
									</div>
									<div class="mb-3">
										<label class="form-label" for="body">Review Text</label>
										<textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
									</div>
									<button class="btn btn-success">Submit</button>
								</form>
							</div>

						</div>
						</div>
					</div>
					<% if( currentUser && business.author.equals(currentUser._id)) {%>
					<a class="card-link btn btn-info" href="/businesses/<%=business._id%>/edit">Edit</a>
					<form class="d-inline" action="/businesses/<%=business._id%>?_method=DELETE" method="POST">
						<button class="btn btn-danger">Delete</button>
					</form>
					<% } %>
				 </div>  
				 <% } %>
			</div>
			
		</div>
		<div class="col-6">
			<% for(let review of business.reviews) { %>
			<div class="card mb-3">
				<div class="card-body">

					<h7>Social Distancing</h7>
						<p class="starability-result" data-rating="<%=review.rating1%>">
							Rated: <%= review.rating1 %> stars
						</p>

					<h7>Mask Compliance</h7>
					<p class="starability-result" data-rating="<%=review.rating2%>">
						Rated: <%= review.rating2 %> stars
					</p>
					<h7>Sanitization</h7>
					<p class="starability-result" data-rating="<%=review.rating3%>">
						Rated: <%= review.rating3 %> stars
					</p>
					<h10 class="card-title"><%= review.author.username%></h10>

					<p class="card-text">Review: <%= review.body %></p>
				<% if( currentUser && review.author.equals(currentUser._id)) {%>
				<form action="/businesses/<%=business._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
					<button class="btn btn-sm btn-danger">Delete</button>
				</form>
				<% } %>
			</div>
			<% } %>
		</div>
		
	</div
	</div

